.container {
  max-width: unit((@width-max/@base),rem);
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--space-m);
  padding-right: var(--space-m);
  display: block;
  @media @bp[mid] {
    padding-left: var(--space-xl);
    padding-right: var(--space-xl);
  }

  //diary items and articles
  @breakpoint: 1088px;
  &--article,
  &--diary-item {
    footer,
    article {
      margin-top: var(--space-l);
    }
    @media screen and (min-width: @breakpoint) {
      display: grid;
      grid-template-columns: 1fr 13.75rem;
      column-gap: var(--space-m);
      header {
        grid-area: header;
      }
      article {
        grid-area: content;
        margin-top: 0;
        grid-column: 1 / span 2;
      }
      aside {
        grid-area: aside;
      }
      footer {
        grid-area: footer;
      }
    }
  }

  &--diary-item {
    @media screen and (min-width: @breakpoint) {
      grid-template-areas:
        "header header"
        "content aside"
        "content footer";
      grid-template-rows: auto auto 1fr;
      footer {
        margin-top: var(--space-s);
      }
    }
  }

  &--article {
    @media screen and (min-width: @breakpoint) {
      grid-template-areas: 
        "header header"
        "content aside"
        "footer footer"
    }
    footer {
      margin-top: var(--space-xl);
    }
  }
}

#container {
  .flow() {
    #container.line-length;
  }
  .line-length() {
    max-width: var(--line-length);
  }
  .indent() {
    @media @bp[max] {
      #space > .range(margin-left, none,m);
    }
  }
}

.contain-flow {
  #container.flow;
}
.contain-line-length {
  #container.line-length;
}
.contain-indent {
  #container.indent;
}

.section {
  &:after {
    display: block;
    content: "";
    clear: both;
  }
}

footer {
  clear: both;
}