.grid-columns(@fitorfill:fill, @min:270) {
  display: grid;
  grid-template-columns: repeat(~'auto-@{fitorfill}', minmax(unit((@min/@base),rem), 1fr));
}

.list {
  list-style: none;
  gap: var(--space-m);
  margin-bottom: var(--space-l);

  &:not(&--grid):not(&--grid-x2) &-item:not(:last-child) {
    padding-bottom: var(--space-m);
    margin-bottom: var(--space-m);
    &:not(:last-of-type):not(&--no-border) {
      border-bottom: 1px solid var(--c-grey-x-light);
    }
    
  }

}


@media @bp[min] {

  .list--grid {
    .grid-columns;
  }
  .list--grid-x2 {
    .grid-columns(@min: 340);
  }
  .list--grid-gallery {
    .grid-columns(fit);
  }
  .list--overlap .list-item:not(:first-child) {
    margin-left: -20px;
  }
  .list--grid .list-item,
  .list--grid-gallery .list-item {
    list-style: none;
  }

  

}