.grid-columns(@fitorfill:fill) {
  grid-template-columns: repeat(~'auto-@{fitorfill}', minmax(unit((270/@base),rem), 1fr));
}

.list {
  list-style: none;
  gap: var(--space-m);

  &--overlap {
    gap: 0;
  }

  &:not(.list--grid):not(.list--grid-gallery) &-item:not(:last-child) {
    padding-bottom: var(--space-m);
    margin-bottom: var(--space-m);
    &:not(:last-of-type) {
      border-bottom: 1px solid var(--c-grey-x-light);
    }
    
  }

  &--timeline {
    padding-bottom: var(--space-m);
    padding-top: var(--space-s);
    margin-bottom: var(--space-l);
    position: relative;
    &:before {
      content: "";
      width: 1px;
      height: 100%;
      display: block;
      background-color: var(--c-grey-light);
      top: 0;
      left: 10px;
    }
  }
  &--timeline &-item {
    border-bottom: none !important;
  }

}


@media @bp[min] {

  .list--grid {
    display: grid;
    .grid-columns;
  }
  .list--grid-gallery {
    display: grid;
    .grid-columns(fit);
  }
  .list--overlap .list-item:not(:first-child) {
    margin-left: -20px;
  }
  .list--grid .list-item,
  .list--grid-gallery .list-item {
    list-style: none;
  }

  

}