<!doctype html>
<html lang="en-gb" data-scroll="0">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ title }} -  Jon’s website</title>
        <link rel="stylesheet" href="/assets/css/roodesign.css">
        <link href="{{ global.cdn }}prismjs@v1.x/themes/prism.css" rel="stylesheet" />
    </head>
    <body class="no-js template-{{ section_id }}">
        <header class="container">
            <nav class="navigation{% if template == "home" or template == 'services' %} navigation--reverse{% endif %}" aria-label="Main">
            <a href="/" class="navigation__sitename" aria-labelledby="sitename">
                Jon’s website <span class="visually-hidden">homepage</span></span>
            </a>
            <ul class="navigation__items">
                {% for item in navigation.main %}
                    <li><a href="{{ item.url }}"{% if item.id == section_id %} class="active" aria-current="page"{% endif %}>{{ item.title }}</a></li>
                {% endfor %}
            </ul>
            </nav>
        </header>
        <main class="container">
            {% block content %}
            {% endblock %}
            <p>
        </main>
        <footer class="container footer">
            <div class="fin">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1170 10" preserveAspectRatio="none" height="10px" width="100%" aria-hidden="true">
                    <path d="M0 0h117v10H0z" class="segment-1"/>
                    <path d="M117 0h117v10H117z" class="segment-2"/>
                    <path d="M234 0h117v10H234z" class="segment-3"/>
                    <path d="M351 0h117v10H351z" class="segment-4"/>
                    <path d="M468 0h117v10H468z" class="segment-5"/>
                    <path d="M585 0h117v10H585z" class="segment-6"/>
                    <path d="M702 0h117v10H702z" class="segment-7"/>
                    <path d="M819 0h117v10H819z" class="segment-8"/>
                    <path d="M936 0h117v10H936z" class="segment-9"/>
                    <path d="M1053 0h117v10H1053z" class="segment-10"/>
                </svg>
            </div>
            <div class="footer-content">
                <p>&copy; Jon Roobottom {date} - {date}</p>
            </div>

            <h4 class="footer-title" id="explore-this-site">Explore this site</h4>
            <nav aria-labelledby="explore-this-site">
                <ul class="footer-navigation">
                  {% for item in navigation.footer %}
                    <li><a href="{{ item.url }}">{{ item.title }}</a></li>
                  {% endfor %}  
                </ul>
            </nav>

        </footer>
        <script src="{{ global.cdn }}prismjs@v1.x/components/prism-core.min.js"></script>
	    <script src="{{ global.cdn }}prismjs@v1.x/plugins/autoloader/prism-autoloader.min.js"></script>
        {% if section_id == 'contact' %}
        <script src="/assets/js/contact-form.js"></script>
        {% endif %}
    </body>
</html>