{% from "../includes/opengraph.njk" import opengraph as opengraph %}
{% macro footerNavigation(params) %}
<h4 class="footer-title h5" id="{{ params.title | lower | slugify }}">{{ params.title }}</h4>
<nav aria-labelledby="{{ params.title | lower | slugify }}">
  <ul class="footer-navigation">
    {% for item in params.items %}
      <li><a href="{{ item.url }}">{{ item.title }}</a></li>
    {% endfor %}  
  </ul>
</nav>
{% endmacro %}
<!doctype html>
<html lang="en-gb" data-scroll="0">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ title }} -  Jon’s website</title>
        
        <link rel="micropub" href="https://roobottom-2022-indiekit.herokuapp.com/micropub">
        <link rel="authorization_endpoint" href="https://indieauth.com/auth">
        <link rel="token_endpoint" href="https://tokens.indieauth.com/token">
        <link rel="me" href="https://github.com/roobottom">

        <link rel="webmention" href="https://webmention.io/roobottom.com/webmention" />
        <link rel="pingback" href="https://webmention.io/roobottom.com/xmlrpc" />
        
        <link rel="stylesheet" href="/assets/css/roodesign.css">
        <link rel="alternate" type="application/atom+xml" title="RSS feed for Jon’s website" href="/feed.xml" />
        <link href="{{ global.cdn }}prismjs@v1.x/themes/prism.css" rel="stylesheet" />
        {{ opengraph({
          type: og.type,
          'og:url': og.url,
          'og:site_name': 'Jon’s website',
          'og:locale': 'en_GB',
          'og:title': title,
          'og:description': og.description or introduction or 'Jon Roobottom’s corner of the web',
          'og:image': og.image.url,
          'og:image:width': '1280',
          'og:image:height': '680',
          'og:image:alt': og.image.alt,
          'twitter:card': 'summary_large_image',
          'twitter:creator': '@roobottom',
          'twitter:url': 'https://roobottom.com/',
          'twitter:title': og.title or title,
          'twitter:description': og.description or introduction or 'Jon Roobottom’s corner of the web',
          'twitter:image': og.image.url,
          'twitter:image:alt': og.image.alt
        }) }}
        {{ opengraph({
          'twitter:label1': 'Reading time',
          'twitter:data1': og.readingtime
        }) if og.readingtime }}
        {{ opengraph({
          'article:published_time': og.date
        }) if og.date }}
    </head>
    <body class="no-js template-{{ section_id }}">
        <nav class="accessibility-menu container">
          <a href="#main">Skip to content</a>
        </nav>
        <header class="container">
            <nav class="navigation{% if template == "home" or template == 'services' %} navigation--reverse{% endif %}" aria-label="Main">
            <a href="/" class="navigation__sitename" aria-labelledby="sitename">
                Jon’s website <span class="visually-hidden">homepage</span>
            </a>
            <ul class="navigation__items">
                {% for item in navigation.main %}
                    <li><a href="{{ item.url }}"{% if item.id == section_id %} class="active" aria-current="page"{% endif %}>{{ item.title }}</a></li>
                {% endfor %}
            </ul>
            </nav>
        </header>
        <main class="container {{ container_type }}" id="main">
            {% block content %}
            {% endblock %}
        </main>
        <footer class="container footer">
            <div class="fin">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1170 10" preserveAspectRatio="none" height="10px" width="100%" aria-hidden="true">
                    <path d="M0 0h117v10H0z" class="segment-1"/>
                    <path d="M117 0h117v10H117z" class="segment-2"/>
                    <path d="M234 0h117v10H234z" class="segment-3"/>
                    <path d="M351 0h117v10H351z" class="segment-4"/>
                    <path d="M468 0h117v10H468z" class="segment-5"/>
                    <path d="M585 0h117v10H585z" class="segment-6"/>
                    <path d="M702 0h117v10H702z" class="segment-7"/>
                    <path d="M819 0h117v10H819z" class="segment-8"/>
                    <path d="M936 0h117v10H936z" class="segment-9"/>
                    <path d="M1053 0h117v10H1053z" class="segment-10"/>
                </svg>
            </div>
            <div class="footer-content">
                <p>&copy; Jon Roobottom {{ collections.stats.allPosts.earliest | date('YYYY') }} to {{ collections.stats.allPosts.latest | date('YYYY') }}</p>
            </div>

            

            <ul class="list list--grid">
              <li>{{
                footerNavigation({
                  title: 'Explore this site',
                  items: navigation.footer
                }) }}</li>
                <li>{{
                footerNavigation({
                  title: 'Me, elsewhere on the web',
                  items: navigation.elsewhere
                }) }}</li>
                <li>{{
                footerNavigation({
                  title: 'Consume my content',
                  items: navigation.consume
                }) }}</li>
            </ul>
        </footer>
        <script src="{{ global.cdn }}prismjs@v1.x/components/prism-core.min.js"></script>
	      <script src="{{ global.cdn }}prismjs@v1.x/plugins/autoloader/prism-autoloader.min.js"></script>
    </body>
</html>