{% extends './_wrapper.njk' %}
{% from '../includes/meta.njk' import meta as meta %}
{% from '../includes/subjects.njk' import subjects as subjects %}
{% from '../includes/title.njk' import title as pagetitle %}

{% block content %}
{{ pagetitle({
  classes: 'space--margin-bottom-l',
  text: title
}) }}
{{ meta({
  classes: 'space--margin-bottom-l',
  items: [
    {
      key: 'Date',
      value: date | date('dddd D MMMM YYYY')
    }, {
      key: 'Subjects',
      value: subjects(tags)
    } if tags
  ]
}) }}
<div class="prose prose--flow">
  {{ content | safe }}
</div>
{% endblock %}