---
container_type: 'article'
---
{% extends './_wrapper.njk' %}
{% from '../includes/meta.njk' import meta as meta %}
{% from '../includes/subjects.njk' import subjects as subjects %}
{% from '../includes/title.njk' import title as pagetitle %}
{% from '../includes/breadcrumbs.njk' import breadcrumbs as breadcrumbsList %}
{% from '../includes/prevNext.njk' import prevNext as prevNext %}
{% from '../includes/card.njk' import card as card %}

{% block content %}
<header class="article-header">
{{ breadcrumbsList({
  classes: 'space--margin-bottom-s',
  items: breadcrumbs
}) }}
{{ pagetitle({
  classes: 'space--margin-bottom-l',
  text: title
}) }}
</header>
<footer class="article-footer">
{{ meta({
  items: [
    {
      key: 'Date',
      value: date | date('dddd D MMMM YYYY')
    }, {
      key: 'Subjects',
      value: subjects(tags)
    } if tags
  ]
}) }}
</footer>
<div class="article-content prose prose--flow">
  {{ content | safe }}
</div>

{% set prevPost = collections.articles | getNextCollectionItem(page) %}
{% set nextPost = collections.articles | getPreviousCollectionItem(page)  %}

{{ prevNext({
  label: 'Navigate between articles',
  classes: 'article-prevNext',
  prev: {
    title: 'Previous article',
    url: {
      link: prevPost.url,
      text: prevPost.data.title
    },
    date: prevPost.date | date('dddd D MMMM YYYY')
  } if prevPost,
  next: {
    title: 'Next article',
    url: {
      link: nextPost.url,
      text: nextPost.data.title
    },
    date: nextPost.date | date('dddd D MMMM YYYY')
  } if nextPost
}) }}

{# similar posts #}
{%- set similarPosts = collections.posts | similarPosts(page.inputPath, tags) -%}
{% if similarPosts | length > 0 %}
<nav class="article-related" aria-labelledby="similar-posts">
  <h2 id="similar-posts" class="space--margin-bottom-s">You might also like</h2>
  <ul class="list list--grid">
  {% for post in similarPosts.slice(0,3) %}
  {% set dateFormat = 'dddd D MMMM YYYY [at] h:mm a' %}
  {% if post.data.section_id == 'articles' %}{% set dateFormat = 'dddd D MMMM YYYY' %}{% endif %}
  <li>
    {{ card({
      title: post.data.title | safe,
      url: post.url,
      cover: post.data.cover or post.data.photo[0].url,
      date: post.date | date(dateFormat),
      badge: post.data.photo | length + ' images' if post.data.photo | length > 1,
      meta: [
        {
          key: 'Posted in',
          value: post.data.section_id | title
        }
      ]
    }) }}
  </li>
  {% endfor %}
  </ul>
</nav>
{% endif %}
</footer>
{% endblock %}