{% extends './_wrapper.njk' %}
{% from '../includes/title.njk' import title as pagetitle %}
{% from '../includes/breadcrumbs.njk' import breadcrumbs as breadcrumbsList %}

{% block content %}
{{ breadcrumbsList({
  classes: 'space--margin-bottom-s',
  items: breadcrumbs
}) }}
{{ pagetitle({
  classes: 'space--margin-bottom-l',
  text: title
}) if title }}
{% if introduction %}
<div class="prose prose--flow space--margin-bottom-l">
<p class="type-lead">{{ introduction }}</p>
</div>
{% endif %}
{{ content | safe }}
{% endblock %}