---
container_type: 'article'
---
{% extends './_wrapper.njk' %}
{% from '../includes/meta.njk' import meta as meta %}
{% from '../includes/subjects.njk' import subjects as subjects %}
{% from '../includes/breadcrumbs.njk' import breadcrumbs as breadcrumbs %}
{% from '../includes/prevNext.njk' import prevNext as prevNext %}
{% from '../includes/card.njk' import card as card %}

{% macro age(dob, date, label, emoji) %}
  {% set days_old = date | dateDiff(dob) %}
  {%- if days_old >= 0 -%}
    {% set years_old = days_old | daysToPeriod('years') %}
    {% set months_old = days_old | daysToPeriod('months') %}
    {% if years_old < 1 and months_old < 1 %}
    {{ label }} was just born {{ emoji }}
    {% else %}
    {{ label }} was {{ years_old + ' year' | plural(years_old) if years_old > 0 }}{{ ' and ' + months_old + ' month' | plural(months_old) if months_old > 0 }}
    {% endif %}
  {%- else -%}
    {% set days_old = days_old * -1 %}
    {% set years_old = days_old | daysToPeriod('years') %}
    {% set months_old = days_old | daysToPeriod('months') %}
    {{ label }} will be born in {{ years_old + ' year' | plural(years_old) if years_old > 0 }}{{ ' and ' + months_old + ' month' | plural(months_old) if months_old > 0 }}
  {%- endif -%}
{% endmacro %}

{% set kidsAges %}
{# How old was Roo when this post was published? #}
{{ age(global.dob_roo, date, 'Roo', '👨‍👩‍👧') }} and {{ age(global.dob_rootwo, date, 'Rootwo', '👨‍👩‍👧‍👦') }}
{% endset %}

{% block content %}
<header class="article-header">
{{ breadcrumbs({
  classes: 'space--margin-bottom-s',
  items: [{
    title: 'Home',
    url: '/'
  }, {
    title: 'Diary',
    url: '/diary/'
  }, {
    title: date | date('MMMM YYYY'),
    url: '/diary/' + date | date('MMMM-YYYY') | lower + '/'
  }]
}) }}
</header>

<footer class="article-footer">
{{ meta({
  items: [
    {
      key: 'Date',
      value: date | date('dddd D MMMM YYYY [at] h:mm a')
    }, {
      key: 'Subjects',
      value: subjects(tags)
    } if tags | length > 0,
    {
      key: 'Kid’s ages',
      value: kidsAges
    }
  ]
}) }}
</footer>

<div class="article-content prose prose--flow">
  {{ content | safe }}
  {% for image in photo %}
    {% set imageUrl %}{% if image.url | first != '/' %}/{% endif %}{{ image .url }}{% endset %}
    {% figure imageUrl, image.alt %}
  {% endfor %}
</div>

{% set prevPost = collections.diary | getNextCollectionItem(page) %}
{% set nextPost = collections.diary | getPreviousCollectionItem(page)  %}

{{ prevNext({
  label: 'Navigate between diary posts',
  classes: 'article-prevNext',
  prev: {
    title: 'Previously',
    url: {
      link: prevPost.url,
      text: prevPost.data.title
    },
    date: prevPost.date | date('dddd D MMMM YYYY [at] h:mm a')
  } if prevPost,
  next: {
    title: 'Subsequently',
    url: {
      link: nextPost.url,
      text: nextPost.data.title
    },
    date: nextPost.date | date('dddd D MMMM YYYY [at] h:mm a')
  } if nextPost
}) }}

{# related content #}
{% set similarPosts = collections.posts | similarPosts(page.inputPath, tags) %}
{% if similarPosts | length > 0 %}
<nav class="article-related" aria-labelledby="similar-posts">
  <h2 id="similar-posts" class="space--margin-bottom-s">You might also like</h2>
  <ul class="list list--grid">
  {% for post in similarPosts.slice(0,3) %}
  {% set dateFormat = 'dddd D MMMM YYYY [at] h:mm a' %}
  {% if post.data.section_id == 'articles' %}{% set dateFormat = 'dddd D MMMM YYYY' %}{% endif %}
  <li>
    {{ card({
      title: post.data.title | safe,
      url: post.url,
      cover: post.data.cover or post.data.photo[0].url,
      date: post.date | date(dateFormat),
      badge: post.data.photo | length + ' images' if post.data.photo | length > 1,
      meta: [
        {
          key: 'Posted in',
          value: post.data.section_id | title
        }
      ]
    }) }}
  </li>
  {% endfor %}
  </ul>
</nav>
{% endif %}
{% endblock %}