---
container_type: 'article'
---
{% extends './_wrapper.njk' %}
{% from '../includes/meta.njk' import meta as meta %}
{% from '../includes/subjects.njk' import subjects as subjects %}
{% from '../includes/breadcrumbs.njk' import breadcrumbs as breadcrumbsList %}
{% from '../includes/prevNext.njk' import prevNext as prevNext %}

{% macro age(dob, date, label, emoji) %}
  {% set days_old = date | dateDiff(dob) %}
  {%- if days_old >= 0 -%}
    {% set years_old = days_old | daysToPeriod('years') %}
    {% set months_old = days_old | daysToPeriod('months') %}
    {% if years_old < 1 and months_old < 1 %}
    {{ label }} was just born {{ emoji }}
    {% else %}
    {{ label }} was {{ years_old + ' year' | plural(years_old) if years_old > 0 }}{{ ' and ' + months_old + ' month' | plural(months_old) if months_old > 0 }}
    {% endif %}
  {%- else -%}
    {% set days_old = days_old * -1 %}
    {% set years_old = days_old | daysToPeriod('years') %}
    {% set months_old = days_old | daysToPeriod('months') %}
    {{ label }} will be born in {{ years_old + ' year' | plural(years_old) if years_old > 0 }}{{ ' and ' + months_old + ' month' | plural(months_old) if months_old > 0 }}
  {%- endif -%}
{% endmacro %}

{% set kidsAges %}
{# How old was Roo when this post was published? #}
{{ age(global.dob_roo, date, 'Roo', '👨‍👩‍👧') }} and {{ age(global.dob_rootwo, date, 'Rootwo', '👨‍👩‍👧‍👦') }}
{% endset %}

{% block content %}
<header>
{{ breadcrumbsList({
  classes: 'space--margin-bottom-s',
  items: breadcrumbs
}) }}
</header>
<aside>
{{ meta({
  items: [
    {
      key: 'Date',
      value: date | date('dddd D MMMM YYYY [at] h:mm a')
    }, {
      key: 'Subjects',
      value: subjects(tags)
    } if tags | length > 0
  ]
}) }}
</aside>
<aside>
{{ meta({
  items: [
    {
      key: 'Kid’s ages',
      value: kidsAges
    }
  ]
}) }}
</aside>
</footer>
<article class="prose prose--flow">
  {{ content | safe }}
  {% for image in photo %}
    {% set imageUrl %}{% if image.url | first != '/' %}/{% endif %}{{ image .url }}{% endset %}
    {% figure imageUrl, image.alt %}
  {% endfor %}
</article>
{% set prevPost = collections.diary | getNextCollectionItem(page) %}
{% set nextPost = collections.diary | getPreviousCollectionItem(page)  %}

<footer>
{{ prevNext({
  label: 'Navigate between diary posts',
  prev: {
    title: 'Previously',
    url: {
      link: prevPost.url,
      text: prevPost.data.title
    },
    date: prevPost.date | date('dddd D MMMM YYYY [at] h:mm a')
  } if prevPost,
  next: {
    title: 'Subsequently',
    url: {
      link: nextPost.url,
      text: nextPost.data.title
    },
    date: nextPost.date | date('dddd D MMMM YYYY [at] h:mm a')
  } if nextPost
}) }}
</footer>
{% endblock %}