{% extends './_wrapper.njk' %}
{% from '../includes/meta.njk' import meta as meta %}
{% from '../includes/subjects.njk' import subjects as subjects %}
{% from '../includes/breadcrumbs.njk' import breadcrumbs as breadcrumbsList %}
{% from '../includes/prevNext.njk' import prevNext as prevNext %}

{% block content %}
{{ breadcrumbsList({
  classes: 'space--margin-bottom-s',
  items: breadcrumbs
}) }}
{{ meta({
  classes: 'space--margin-bottom-l',
  items: [
    {
      key: 'Date',
      value: date | date('dddd D MMMM YYYY [at] h:mm a')
    }, {
      key: 'Subjects',
      value: subjects(tags)
    } if tags | length > 0
  ]
}) }}
<div class="prose prose--flow space--margin-bottom-xl">
  {{ content | safe }}
  {% for image in photo %}
    {% figure image.url, image.alt %}
  {% endfor %}
</div>

{% set prevPost = collections.diary | getNextCollectionItem(page) %}
{% set nextPost = collections.diary | getPreviousCollectionItem(page)  %}

{{ prevNext({
  label: 'Navigate between diary posts',
  prev: {
    title: 'Previous diary posts',
    url: {
      link: prevPost.url,
      text: prevPost.data.title
    },
    date: prevPost.date | date('dddd D MMMM YYYY [at] h:mm a')
  } if prevPost,
  next: {
    title: 'Next diary post',
    url: {
      link: nextPost.url,
      text: nextPost.data.title
    },
    date: nextPost.date | date('dddd D MMMM YYYY [at] h:mm a')
  } if nextPost
}) }}
{% endblock %}