{% extends './_wrapper.njk' %}

{% block content %}

<div class="prose prose--flow space--margin-top-xxl">
  <h2 id="featured-writing">Featured writing</h2>
  <p>Here’s a some of my favourite things I’ve written.</p>
</div>
<ul class="list list--grid space--margin-top-m">
  {% for item in collections.articles %}
    {% if item.data.featured %}
      <li class="list-item">
        {% card item.data.title, item.templateContent | firstSentence, item.url, item.data.cover %}
      </li>
    {% endif %}
  {% endfor %}
</ul>
{% endblock %}