{% extends './_wrapper.njk' %}
{% from '../includes/card.njk' import card as card %}
{% set colours = cycler('theme-1', 'theme-2') %}

{% block content %}
<h1>{{ title }}</h1>
<div class="prose prose--reverse prose--flow space--margin-top-m">
{{ content | safe }}
</div>
<ul class="list list--grid space--margin-top-m">
  {% for item in collections.articles.slice(0,6) %}
    <li class="list-item">
      {{ card({
          title: item.data.title,
          url: item.url,
          cover: item.data.cover,
          summary: item.data.summary or item.templateContent | striptags | firstSentence,
          date: item.date | date('dddd D MMMM YYYY'),
          classes: "card--" + colours.next()
        }) }}
      {# <article class="teaser teaser--reverse teaser--{{ colours.next() }} {% if item.data.cover %}teaser--has-cover{% endif %}">
        {% if item.data.cover %}
        <figure class="teaser-cover">
          <img src="{{ item.data.cover }}" alt="{{ item.data.coverAlt }}">
        </figure>
        {% endif %}
        <div class="teaser-content">
          <header class="teaser-header">
            <h2><a href="{{ item.url }}" class="teaser-link">{{ item.data.title }}</a></h2>
          </header>
          <div class="teaser-summary prose">
            <p>{{ item.data.summary or item.templateContent | striptags | firstSentence }}</p>
          </div>
          <footer class="teaser-footer">
            <span class="teaser-date">{{ item.date | date('dddd D MMMM YYYY') }}</span>
          </footer>
        </div>
      </article> #}
    </li>
  {% endfor %}
</ul>
{% endblock %}