{% macro cover(url) %}
{% if url %}style="--cover: url('{{ url | transform('card') }}');"{% endif %}
{% endmacro %}

{% macro title(title, url) %}
<h2 class="card-title"><a href="{{ url }}" class="card-link">{{ title }}</a></h2>
{% endmacro %}

{% macro date(date) %}
{% if date %}<div class="card-date">{{ date }}</div>{% endif %}
{% endmacro %}

{% macro summary(summary) %}
{% if summary %}<p class="card-summary">{{ summary }}</p>{% endif %}
{% endmacro %}

{% macro meta(items) %}
{% if items %}
<div class="card-meta">
{% for item in items %}
<span class="card-meta-item">{{ item.key + ': ' if item.key }}{{ item.value | safe }}</span>
{% endfor %}
</div>
{% endif %}
{% endmacro %}

{% macro card(params) %}
<article class="card {{ params.classes }}" {{ cover(params.cover) }}>
  {% if params.cover %}
  <header class="card-cover">
    {{ title(params.title, params.url) }}
  </header>
  {% else %}
  {{ title(params.title, params.url) }}
  {% endif %}
  {{ summary(params.summary) }}
  {{ date(params.date) }}
  {{ meta(params.meta) }}
</article>
{% endmacro %}