{% macro content(content) %}
{% if content %}<div class="summary-content prose prose--flow">
{% if content.text %}<p>{{ content.text | smartypants }}</p>{% endif %}
{% if content.html %}{{ content.html | safe }}{% endif %}
</div>{% endif %}
{% endmacro %}

{% macro date(date) %}
{% if date %}
<div class="summary-date">
  {% if date.url %}<a href="{{ date.url }}" class="summary-date-link">{% endif -%}
  {{ date.datetime | safe }}
  {%- if date.url %}</a>{% endif %}
</div>
{% endif %}
{% endmacro %}

{% macro meta(items) %}
{% if items %}
{% for item in items %}<span class="summary-meta">{{ item.key or '' }}{{ ': ' if item.key }}{{ item.value | safe }}</span>{% endfor %}
{% endif %}
{% endmacro %}

{% macro title(title) %}
{% if title %}
<header class="summary-title">
{% if title.url %}<a href="{{ title.url }}" class="summary-link">{% endif %}{{ title.text }}{% if title.url %}</a>{% endif %}
</header>
{% endif %}
{% endmacro %}

{% macro images(images) %}
{% if images %}
<div class="summary-images">
{% for image in images %}
  {% img image.url, { alt: image.alt } %}
{% endfor %}
</div>
{% endif %}
{% endmacro %}

{% macro summary(params) %}
<article class="summary {% if params.classes %}{{ parmas.classes }}{% endif %}">
  {{ title(params.title, params.url) }}
  {{ content(params.content) }}
  {{ images(params.images) }}
  <footer class="summary-footer">
    {{ date(params.date) }}
    {{ meta(params.meta) }}
  </footer>
</article>
{% endmacro %}