//** general images

@gallery-space: calc(var(--space-s) / 2);

img {
  max-width: 100%;
  display: block;
}

figure {
  margin-left: auto;
  margin-right: auto;
  >img {
    width: 100%;
  }
  a {
    display: block;
  }
}

figcaption {
  font-size: var(--step--2);
  margin-top: var(--space-xs);
  color: var(--c-grey-dark);
  #type.family.serif;
}

//** galleries

.gallery {

  // figure+figure {
  //   margin-top: var(--space-m);
  // }

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: var(--space-s);
  align-items: baseline;

  @media @bp[mid] {

    // figure+figure {
    //   margin-top: 0;
    // }


   
  } 



}
