//** general images

@gallery-space: calc(var(--space-s) / 2);

img {
  max-width: 100%;
  display: block;
}

figure {
  >img {
    width: 100%;
  }
  a {
    display: block;
  }
}

figcaption {
  font-size: var(--step--2);
  margin-top: var(--space-xs);
  color: var(--c-grey-dark);
  #type.family.alt;
  #container.flow;
}

//** galleries

.gallery {
  >figure { 
    max-width: var(--line-length);
  }

  >figure+figure {
    margin-top: var(--space-m);
  }

  @media screen and (min-width:1215px) {
    >figure+figure {
      margin-top: 0;
    }
    display: grid;
    grid-template-columns: var(--line-length) 1fr 1fr;
    row-gap: var(--space-m);
    column-gap: var(--space-xs);
    align-items: baseline;
    >figure:nth-child(3n-1):last-child {
      grid-column: span 2;
    }
  }
}

.mini-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: var(--space-s);
}
