//** general images

@gallery-space: calc(var(--space-s) / 2);

img {
  max-width: 100%;
  display: block;
}

figure {
  >img {
    width: 100%;
  }
  a {
    display: block;
  }
}

figcaption {
  font-size: var(--step--2);
  margin-top: var(--space-xs);
  color: var(--c-grey-dark);
  #type.family.alt;
  #container.flow;
}

//** galleries

.gallery {
  >figure { 
    max-width: var(--line-length);
  }

  >figure+figure {
    margin-top: var(--space-m);
  }

  @media @bp[max] {
    display: grid;
    grid-template-columns: var(--line-length) 1fr;
    gap: var(--space-s);
    align-items: baseline;
  }
}
