---
title: Articles
layout: default
section_id: articles
eleventyExcludeFromCollections: true
---
{% for year in collections.years.articles %}
  <h2 id="{{ year }}" class="space--margin-bottom-m">{{ year }}</h2>
  <ul class="list">
    {% for article in collections.articles %}
      {% if article.date | date('YYYY') == year %}
      <li class="list-item">
        {% summary article.url, article.data.title, article.data.introduction or article.content | firstSentence, article.date %}
      </li>
      {% endif %}
    {% endfor %}
  </ul>
{% endfor %}