---
title: Articles
layout: default
section_id: articles
eleventyExcludeFromCollections: true
introduction: Long-form writing about anything that interests me.
---
{% from './includes/summary.njk' import summary as summary %}
{% for year in collections.years.articles %}
  <h2 id="{{ year }}" class="space--margin-bottom-m">{{ year }}</h2>
  <ul class="list">
    {% for article in collections.articles %}
      {% if article.date | date('YYYY') == year %}
      <li class="list-item">
        {{ summary({
          title: {
            text: article.data.title,
            url: article.url
          },
          content: {
            text: article.data.introduction or article.templateContent | striptags | firstSentence
          },
          date: {
            datetime: article.date | date('dddd D MMMM YYYY')
          }
        }) }}
      </li>
      {% endif %}
    {% endfor %}
  </ul>
{% endfor %}