---
eleventyComputed:
  title: "{{ monthYear.title }}"
section_id: diary
layout: default
eleventyExcludeFromCollections: true
pagination:
  data: collections.diaryArchive
  size: 1
  alias: monthYear
permalink: "diary/{{ monthYear.title | lower | slugify }}/index.html"
breadcrumbs:
  - title: Home
    url: /
  - title: Diary
    url: /diary/
---
{% from './includes/card.njk' import card as card %}
{% from './includes/summary.njk' import summary as summary %}

{% for day in monthYear.days %}
<h2 class="h4">{{ day | date('dddd D MMMM YYYY') }}</h2>
<ul class="list list--timeline">
  {% for item in monthYear.posts %}
  {% if item.date | date('YYYY-MM-DD') == day %}
  
  {% set postContent %}
    {{ item.templateContent | safe }}
    <div class="mini-gallery">
    {% for image in item.data.photo %}
      {% img image.url, { alt: image.alt } %}
    {% endfor %}
    </div>
  {% endset %}
  
  <li class="list-item" aria-labelledby="{{ item.date | date('YYYY-MM-DD-HH-MM') }}">
    {{ summary({
      content: {
        html: item.templateContent | safe
      },
      date: {
        datetime: item.date | date('h:mm a'),
        url: item.url
      },
      images: item.data.photo
    }) }}
  </li>
  {% endif %}
  {% endfor %}
</ul>
{% endfor %}