---
title: 'Diary'
section_id: diary
layout: default
eleventyExcludeFromCollections: true
introduction: A collection of short posts about the day-to-day life of my family.
---
{% from './includes/card.njk' import card as card %}
<h2 class="space--margin-bottom-m">Recent posts</h2>
<ul class="list list--grid space--margin-bottom-xl">
  {% for item in collections.diary.slice(0,3) %}
    {% if item.data.photo %}{% set title = item.data.title %}
    {% else %}{% set title = item.templateContent | safe | truncate %}{% endif %}
    <li class="list-item">
      {% set cover %}{% if item.data.photo %}{% if item.data.photo[0].url | first != '/' %}/{% endif %}{{ item.data.photo[0].url }}{% endif %}{% endset %}
      {{ card({
        title: title,
        url: item.url,
        cover: item.data.cover or cover,
        date: item.date | date('dddd D MMMM YYYY [at] h:mm a'),
        badge: item.data.photo | length + ' images' if item.data.photo | length > 1
      }) }}
    </li>
  {% endfor %}
</ul>

<h2 class="space--margin-bottom-m">Diary archives</h2>
{% for year in collections.years.diary %}
<h3 id="{{ year }}" class="space--margin-bottom-s">{{ year }}</h2>
<ul class="list list--grid space--margin-bottom-xl">
{% for yearMonth in collections.diaryArchive %}
  {% if yearMonth.year == year %}
  <li class="list-item prose">
    <p><a href="/diary/{{ yearMonth.title | lower | slugify }}">{{ yearMonth.title }}</a><br>{{ yearMonth.count }} {{ 'post' | plural(yearMonth.count) }}</p>
  </li>
  {% endif %}
{% endfor %}
</ul>
{% endfor %}