---
eleventyComputed:
  title: "{{ monthYear.title }}"
section_id: diary
layout: default
eleventyExcludeFromCollections: true
pagination:
  data: collections.diaryArchive
  size: 1
  alias: monthYear
permalink: "diary/{{ monthYear.title | lower | slugify }}/index.html"
breadcrumbs:
  - title: Home
    url: /
  - title: Diary
    url: /diary/
---
{% from './includes/card.njk' import card as card %}
{% from './includes/summary.njk' import summary as summary %}

{% for day in monthYear.days | reverse %}
<h2 class="h4">{{ day | date('dddd D MMMM YYYY') }}</h2>
<ul class="list list--timeline">
  {% for item in monthYear.posts | reverse %}
  {% if item.date | date('YYYY-MM-DD') == day %}
  
  {% set postContent %}
    {{ item.templateContent | safe }}
    <div class="mini-gallery">
    {% for image in item.data.photo %}
      {% img image.url, { alt: image.alt } %}
    {% endfor %}
    </div>
  {% endset %}
  
  <li class="list-item">
    {{ summary({
      content: {
        html: item.templateContent | safe
      },
      date: {
        datetime: '<span class="visually-hidden">' + item.date | date('dddd D MMMM YYYY [at]') + '</span>' + item.date | date('h:mm a'),
        url: item.url
      },
      images: item.data.photo
    }) }}
  </li>
  {% endif %}
  {% endfor %}
</ul>
{% endfor %}

<nav class="prevNext" aria-label="Forwards or backwards in time navigation">
  <ol>
    {% if pagination.page.next %}<li>Backwards in time: <a href="/diary/{{ pagination.page.next.title | lower | slugify }}">{{ pagination.page.next.title }}</a></li>{% endif %}
    {% if pagination.page.previous %}<li>Forwards in time: <a href="/diary/{{ pagination.page.previous.title | lower | slugify }}">{{ pagination.page.previous.title }}</a></li>{% endif %}
  </ol>
</nav>