---
eleventyExcludeFromCollections: true
layout: default
eleventyComputed:
  title: "{{ tag.title | title }}"
permalink: "subjects/{{ tag.title | slugify }}/"
pagination:
  data: collections.tags
  size: 1
  alias: tag
---
{% from './includes/summary.njk' import summary as summary %}
<ul class="list">
  {% for article in collections[tag.title] | reverse %}
    <li class="list-item">
      {% set content = article.data.introduction or article.templateContent | striptags | firstSentence if article.data.section_id == 'articles' %}
      {{ summary({
          title: article.data.title | safe,
          url: article.url,
          content: content,
          date: article.date | date('ddd D MMMM YYYY'),
          meta: [
            {
              key: 'Posted in',
              value: '<a href="/' + article.data.section_id + '/">' + article.data.section_id | title + '</a>'
            }
          ]
        }) }}
    </li>
  {% endfor %}
</ul>